@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Permanent+Marker&display=swap');
.hero h1{
    font-family: permanent marker;
    color: #FFB703;
    position: absolute;

}
article {
    position: absolute;
}
.intro a {
    color: #FB8500;
}
p, footer {
    font-family: "cambria";
}
section h2 {
    font-family: "serif";
    color: #FFB703;
}

a:link {
    text-decoration: none;
}

body {
    width: 1000px;
}

div.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
}
#employee img {
    width: 150px;
    float: right;
}

.history {
    position: relative;
}