* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
    padding: 10px;
}

main    img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}
main img {
    float: right;
}
main p {
    overflow: scroll;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgba(44, 153, 241, 0.692);
    padding: 1rem;
    background-color: rgba(122, 185, 236, 0.856);
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
aside h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 2px dotted black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: steelblue;
    color: black;
}

aside h2{
    position: absolute;
}

a {
    color: black;
}


