* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

h1 {
    color: black;
    padding: 10px;
    text-decoration: underline;
}
p {
    padding: 10px;
}

main {
    max-width: 840px;
    grid-column: 2; /* 2/3 */
    margin: 1rem;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    overflow: scroll;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgba(44, 153, 241, 0.692);
    padding: 1rem;
    background-color: rgba(122, 185, 236, 0.856);
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 128px;
}

aside img {
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 2px dotted black;
    text-align: center;
}
header {
    display: block;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
a {
    color: black;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 
    2rem;
    background-color: steelblue;
    color: black;
}

.grid {
    display: grid;
    align-items: center;
}